<md-content class="padded-content-page padding-35">
    <!--<h2 class="md-display-1 padding-bottom-20">
        Cambiar contraseña - {{user.username}}
    </h2>-->

    <md-card class="padding-20">
        <form class="form-horizontal form-label form-label-left"
              novalidate name="form">

            <mvz-editor label="Contraseña actual"
                        name="txtCurrentPassword"
                        type="password"
                        model="entity.currentPassword"
                        validation-rules="min_len:6|required">
            </mvz-editor>

            <mvz-editor label="Contraseña"
                        name="txtNewPassword"
                        type="password"
                        model="entity.newPassword"
                        validation-rules="min_len:6|required">
            </mvz-editor>

            <mvz-editor label="Confirmar Contraseña"
                        name="textConfirmPassword"
                        type="password"
                        model="entity.confirmPassword"
                        validation-rules="min_len:6|required">
            </mvz-editor>


            <mvz-edit-tool-bar cancel-url="triangular.reports-ranking"
                               save-callback="save()" />
        </form>
    </md-card>

</md-content>

