.category-edit {
    input {
        border-bottom-color: rgba(0,0,0,0.54) !important;
    }

    md-input-container {
        margin: 2px 15px;
    }

    md-card {
        padding-top: 35px !important;
    }
}
