<md-content class="padded-content-page padding-35 users-list">
    <md-card>
        <mvz-table columns="columns"
                   controller-name="users"
                   allow-advanced-search="false"
                   actions="actions"
                   update-params="getParams()"
                   on-action-callback="onLink"
                   auto-load="true"
                   show-actions="true"
                   allow-edit="true"
                   allow-delete="true"
                   allow-selection="false"
                   action-name="search"
                   edit-url="triangular.users-edit"
                   table-limit-options="tableLimitOptions"
                   title="Listado de usuarios" />
    </md-card>
</md-content>
<md-button class="md-fab md-fab-bottom-right" style="background-color:var(--currentCompanyColor, #7BA529) !important;bottom:20px!important;" aria-label="add" ng-click="add()">
    <md-icon class="btn-plus" md-font-icon="zmdi zmdi-plus"></md-icon>
</md-button>
<!--<div style="position:relative;">
    <button class="md-button md-fab md-fab-bottom-right import-button"
            style="background-color:#7BA529!important;"
            md-theme="alz-content"
            aria-label="Import"
            ng-click="importCSV()">
        <md-icon class="fa fa-file-excel-o fa-2x" style="color:white;"></md-icon>
        <md-tooltip md-direction="top">Importar usuarios</md-tooltip>
    </button>
</div>-->