<!--<div flex="noshrink" layout="column" layout-align="end none">
    <md-toolbar ng-controller="AppFooterController as footer" md-theme="{{triSkin.elements.toolbar}}" class="md-primary md-hue-3">
        {{vm.settings.copyright}}

        <div layout="row" layout-align="end center" class="footer">
            <div class="logo-capacitaciones">
                <a href="http://www.capacitacion.alz.com.ar/" target="_blank">
                    <img src="/Content/images/logo-capacitaciones.png" alt="logo-capacitaciones" />
                </a>
            </div>
            <div>
                <a href="http://www.alz.com.ar" target="_blank">
                    <img src="/Content/images/logo-bolsa.png" alt="logo-bolsa" />
                </a>
            </div>
        </div>
    </md-toolbar>
</div>-->
