<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">


    <div class="menu_section" ng-repeat="itemLevel1 in menuItems">
        <h3>{{itemLevel1.name}}</h3>
        <ul class="nav side-menu" ng-repeat="itemLevel2 in itemLevel1.children">
            <li>
                <a>
                    <i class="fa fa-home"></i> {{itemLevel2.name}}
                    <span class="fa fa-chevron-down"></span>
                </a>

                <ul class="nav child_menu" ng-repeat="itemLevel3 in itemLevel2.children">
                    <li><a ng-href="{{itemLevel3.info}}">{{itemLevel3.name}}</a></li>
                </ul>
            </li>
        </ul>
    </div>

</div>
